body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	overflow: hidden;
	position: relative;
	padding: 5px;
}

header {
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
}

header h1 {
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
}
